:root {
    --color-divider: hsl(240, 5%, 91%);
    --color-text-titles: hsl(238, 29%, 16%);
    --color-text-question: hsl(237, 12%, 33%);
    --color-text-answer: hsl(240, 6%, 50%);
    --color-arrow: hsl(14, 88%, 65%);
    --color-background-one: hsl(273, 75%, 66%);
    --color-background-two: hsl(240, 73%, 65%);
    --font-size-default: 12px;
    --font-primary: "KumbhSans-Regular";
    --font-secundary: "KumbhSans-Bold";
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {    
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(180deg, hsl(273, 75%, 66%) 10%, #7B64E8 100%);
    background-repeat: no-repeat;
    font-family: var(--font-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    box-shadow: 1px 50px 40px -15px rgba(0,0,0,0.25);
    width: 87%;
    height: 610px;
    border-radius: 25px;
    padding: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    padding-top: 110px;
    margin-top: 150px;

    position: relative;
}

.figure {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -85px;
}

.figure--one {
    background: url('../assets/images/illustration-woman-online-mobile.svg') no-repeat;
    width: 300px;
    height: 200px;
    position: absolute;
    left: -25px;
    top: -25px;
}

.figure--two {
    background: url('../assets/images/bg-pattern-mobile.svg') no-repeat;
    width: 250px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 85px;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

}

.card__title {
    font-size: 32px;
    font-family: var(--font-secundary);
    text-align: center;
}

.card__question-group {
    width: 100%;
}

.question {
    font-size: var(--font-size-default);
}

.button__title {
    width: 90%;
    text-align: start;
    color: var(--color-text-question);
}

.button__title:hover {
    color: var(--color-arrow);
}

.title {
    font-family: var(--font-primary);
}

.title--active {
    font-family: var(--font-secundary);
}

.button {
    background: transparent;
    border: 1px solid white;
    padding: 0 ;
    cursor: pointer;
}

.button--question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inactive {
    display: none;
}

.active {
    display: inherit;
}

.dividing-line {
    border: 1px solid var(--color-divider);
}

.button__icon {
    transition: all 0.2s ease-in;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

@media (min-width: 375px) {
    .card {
        height: 570px;
    }
}

@media (min-width: 1440px) {
    .card {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    
        padding: 50px 100px;
        margin-top: 0px;
        width: 900px;
        height: 550px;
        
    }

    .figure {
        position: relative;
        width: 500px;
        height: 550px;
        left: -100px;
        top: -50px;
        overflow: hidden;
    }

    .figure--one {
        background: url('../assets/images/illustration-woman-online-desktop.svg') no-repeat;
        width: 500px;
        height: 400px;
        position: absolute;
        left: -75px;
        top: 80px;
        z-index: 1;
    }
    
    .figure--two {
        background: url('../assets/images/bg-pattern-desktop.svg') no-repeat;
        width: 1000px;
        height: 1000px;
        position: absolute;
        left: -570px;
        top: -290px;
        z-index: 0;
    }

    .figure--three {
        background: url('../assets/images/illustration-box-desktop.svg') no-repeat;
        width: 200px;
        height: 200px;
        position: absolute;
        left: -100px;
        top: 200px;
        z-index: 2;
    }

    .card__content {
        width: 350px;
    }

    .card__title {
        text-align: start;
    }
}

@font-face {
    font-family: "KumbhSans-Regular";
    src: url(../assets/font/KumbhSans-Regular.ttf)
}

@font-face {
    font-family: "KumbhSans-Bold";
    src: url(../assets/font/KumbhSans-Bold.ttf)
}
